body {
    background-color: white;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24pt;
}

h4 {text-align: left}

img {
    width: 100%;
    max-width: 650px;
    height: auto;
    margin-top: 20pt;
}

.Content {
    width: 100vw;
    max-width: 1100pt;
    margin: 0 auto;
    box-shadow: inset 200px 0px 200px -50px #F0EAD6,
                inset -200px 0px 200px -50px #F0EAD6;
    text-align: center;
}
.TextContainer {
    width: 90%;
    margin: 0 auto;
}
.ButtonContainer {
    height: 300px;
    text-align: center;
}
.ButtonContainer table {
    margin: 0 auto;
}
select {
    width: 200px;
}


.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border: none;
  color: #FFF;
  background: #f7dd88;
  padding: 5px 30px 10px 30px;
  text-decoration: none;
  font-size: 36pt;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
}

.btn:hover {
  background: #fad669;
  text-decoration: none;
}
